
<!DOCTYPE html>
<html lang="en">
	{% load static %}	
	
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hmart – Electronics eCommerce HTML Template</title>
		<meta name="robots" content="index, follow" />
		<meta name="description" content="Hmart-Smart Product eCommerce html Template">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="{% static '' %}assets/images/favicon.ico" />
		<!-- CSS
		============================================ -->
		<!-- <link rel="stylesheet" href="{% static '' %}assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="{% static '' %}assets/css/font.awesome.css" />
		<link rel="stylesheet" href="{% static '' %}assets/css/pe-icon-7-stroke.css" />
		<link rel="stylesheet" href="{% static '' %}assets/css/animate.min.css">
		<link rel="stylesheet" href="{% static '' %}assets/css/swiper-bundle.min.css">
		<link rel="stylesheet" href="{% static '' %}assets/css/venobox.css">
		<link rel="stylesheet" href="{% static '' %}assets/css/jquery-ui.min.css"> -->
		<!-- Style CSS -->
		<!-- <link rel="stylesheet" href="{% static '' %}assets/css/style.css"> -->
		<!-- Minify Version -->
		<link rel="stylesheet" href="{% static '' %}assets/css/plugins.min.css">
		<link rel="stylesheet" href="{% static '' %}assets/css/style.min.css">
		<script src="https://kit.fontawesome.com/e0b8c49091.js" crossorigin="anonymous"></script>
	</head>
<body>
<div class="main-wrapper">
{% include 'header.html' %}

{% block slider %} {% endblock %}
{% block category %} {% endblock %}
{% block body %} {% endblock %}
{% include 'footer.html' %}

{% block foot %} {% endblock %}
</div>
</body>
</html>